@using CShop.UseCases.Entities
@page "/orders"
@rendermode InteractiveServer
@implements IDisposable
@inject OrderKitchenState kitchenState


<PageTitle>Orders</PageTitle>

<div class="row">
    <div class="col-12">
        <ul class="list-group mt-2">
            <li class="list-group-item mb-2">
                <div class="row">
                    <div class="col-2">Ord</div>
                    <div class="col-2 text-center">Status</div>
                    <div class="col">Message</div>
                    <div class="col"></div>
                </div>
            </li>
            @foreach (var order in kitchenState.Orders)
            {
                <li class="list-group-item mb-2">
                    <div class="row d-flex">
                        <div class="col-2">@order.Id</div>
                        <div class="col-2 text-center @StatusColor(order)">
                            <span class="px-4 py-1 border border-1 rounded-pill">@order.Status</span>
                        </div>
                        <div class="col">@order.FailedReason</div>
                        <div class="col text-end">
                            @if (ShowChangeStatusBtn(order))
                            {
                                <button class="btn btn-sm btn-outline-primary" data-bs-toggle="collapse" href="#@($"changeStatus-{order.Id}")">Change Status</button>
                                <div class="row mt-1">
                                    <div class="col-6"></div>
                                    <div class="col">
                                        <div class="collapse multi-collapse" id="@($"changeStatus-{order.Id}")">
                                            <div class="card card-body">
                                                <div class="mb-2">
                                                    <select class="form-select" size="4" aria-label="Default select example" @onchange="e => ChangeStatus(e, order)">
                                                        @foreach (var status in Statuses)
                                                        {
                                                            <option value="@status">@status</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button class="btn btn-sm btn-outline-primary" @onclick="() => SaveStatus(order)">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-outline-primary">Re-open</button>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    IEnumerable<OrderStatus> Statuses = Enum.GetValues<OrderStatus>().Where(s => s != OrderStatus.Undefined);

    protected override async Task OnInitializedAsync()
    {
        kitchenState.OnChange += StateHasChangedInvoke;
        await kitchenState.Init();
    }

    void ChangeStatus(ChangeEventArgs e, OrderDto order)
    {
        var statusString = (string)e.Value!;
        if (Enum.TryParse<OrderStatus>(statusString, out var status))
        {
            kitchenState.ChangeOrderStatus(order.Id, status);
        }
    }

    async Task SaveStatus(OrderDto order)
    {
        await kitchenState.SaveOrderStatus(order);
    }

    bool ShowChangeStatusBtn(OrderDto order) => order.Status != OrderStatus.Completed && order.Status != OrderStatus.Returned;

    string StatusColor(OrderDto order)
    {
        return order.Status switch
        {
            CShop.UseCases.Entities.OrderStatus.Created => "text-info",
            CShop.UseCases.Entities.OrderStatus.Processing => "text-secondary",
            CShop.UseCases.Entities.OrderStatus.Completed => "text-success",
            _ => ""
        };
    }

    void StateHasChangedInvoke()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        kitchenState.OnChange -= StateHasChangedInvoke;
    }
}
