@page "/orders"
@rendermode InteractiveServer
@implements IDisposable
@inject OrderKitchenState kitchenState


<PageTitle>Orders</PageTitle>

<div class="row">
    <div class="col-12">
        <ul class="list-group mt-2">
            <li class="list-group-item mb-2">
                <div class="row">
                    <div class="col-2">Ord</div>
                    <div class="col-2 text-center">Status</div>
                    <div class="col"></div>
                </div>
            </li>
            @foreach (var order in kitchenState.Orders)
            {
                <li class="list-group-item mb-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-2">@order.No</div>
                        <div class="col-2 text-center">@order.Status</div>
                        <div class="col text-end">
                            <button class="btn btn-primary btn-sm" @onclick="@(() => kitchenState.PickOrder(order))">Pick</button>
                            <button class="btn btn-success btn-sm" @onclick="@(() => kitchenState.CompleteOrder(order))">Complete</button>
                            <button class="btn btn-secondary btn-sm" @onclick="@(() => kitchenState.ReturnOrder(order))">Return</button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        kitchenState.OnChange += StateHasChangedInvoke;
        await kitchenState.Init();
    }

    string BackgroundStatus(OrderDto order)
    {
        return order.Status switch
        {
            CShop.UseCases.Entities.OrderStatus.Created => "bg-info",
            CShop.UseCases.Entities.OrderStatus.Processing => "bg-secondary",
            CShop.UseCases.Entities.OrderStatus.Completed => "bg-success",
            _ => ""
        };
    }

    void StateHasChangedInvoke()
    {
        _ = InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        kitchenState.OnChange -= StateHasChangedInvoke;
    }
}
